<meta charset="utf-8">
<title>CI 3 Demo</title>

<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- theme meta -->
<meta name="theme-name" content="thomson" />

<!-- ** Plugins Needed for the Project ** -->
<!-- Bootstrap -->
<link rel="stylesheet" href="/assets/frontend_2/plugins/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/assets/frontend_2/plugins/animated-text/animated-text.css">

<!-- Main Stylesheet -->
<link href="/assets/frontend_2/css/style.css" rel="stylesheet">

<!-- jQuery -->
<script src="/assets/frontend_2/plugins/jQuery/jquery.min.js"></script>