<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'backend/layouts/header.twig' %}
  </head>
  <body>
    <div class="container-scroller">

      <!-- 左側選單 START -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/admin"><img src="/assets/backend/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="/admin"><img src="/assets/backend/images/logo-mini.svg" alt="logo" /></a>
        </div>

        <ul class="nav">

          <li class="nav-item nav-category">
            <span class="nav-link">功能列</span>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">首頁</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/accounts">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
              <span class="menu-title">系統帳號</span>
            </a>
          </li>

        </ul>

      </nav>
      <!-- 左側選單 END -->

      <!-- 右側區塊 START -->
      <div class="container-fluid page-body-wrapper">

        <!-- 上方資訊條 START -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">

          <!-- RWD -->
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/admin"><img src="/assets/backend/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <!-- RWD -->
          
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">

            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            
            <ul class="navbar-nav w-100"></ul> <!-- 拉空間出來 -->

            <ul class="navbar-nav navbar-nav-right">

              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator" href="/" target="_blank" title="前往前台(開新視窗)">
                  <i class="mdi mdi-desktop-mac"></i>
                </a>
              </li>

              <!-- 使用者資訊 START -->
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <!-- <img class="img-xs rounded-circle" src="/assets/backend/images/faces/face15.jpg" alt=""> -->
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ backendUser.account_realname }}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a href="/admin/accounts/edit/{{ backendUser.ID }}" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">帳號設定</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="/admin/logout" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">登出</p>
                    </div>
                  </a>
                </div>
              </li>
              <!-- 使用者資訊 END -->
            </ul>

            <!-- RWD -->
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
            <!-- RWD -->
            
          </div>

        </nav>
        <!-- 上方資訊條 END -->

        
        <!-- 中心 START -->
        <div class="main-panel">

          <!-- 核心內容 START -->
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
          <!-- 核心內容 END -->

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2023</span>
            </div>
          </footer>

        </div>
        <!-- 中心 END -->

      </div>
      <!-- 右側區塊 END -->

    </div>
    
    {% include 'backend/layouts/script.twig' %}
  </body>
</html>